<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/libs :: libs"></div>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <style>
        div.icon {
            width: 40px;
            height: 60px;
            background-size: 30px;
        }
    </style>
</head>

<body>
<div th:replace="fragments/header :: header">...</div>
<p th:inline="text">Your habits,
    <th:block th:text="${user.getUsername()}">[name]</th:block>
    :
</p>
<p id="habitsP"></p>
<script>

    function renderHabits() {
        let httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            let data = JSON.parse(httpRequest.responseText);
            let template = document.getElementById("habits_template").innerHTML;
            let compiledTemplate = Handlebars.compile(template);
            let text = compiledTemplate({"habits": data});
            debugger;
            document.getElementById("habitsP").innerHTML = text;
        };
        httpRequest.open('GET', '/get_habits');
        httpRequest.send();
    }

    function windowConfirmDel(id) {
        if (window.confirm("Do you want to delete this habit?")) {
            let a = '/delete_habit/' + id;
            let token = getCsrf();
            let httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function () {
                renderHabits();
            }
            let formData = new FormData();
            formData.append("_csrf", token);
            httpRequest.open('POST', a);
            httpRequest.send(formData);
        }
    }

    document.addEventListener('DOMContentLoaded', function (event) {
        renderHabits();
    })

</script>

<script id="habits_template" type="text/template">
    {{#habits}}
    <dl>
        <dt>
            <div id="img1" class="icon" style="background-image: url('/static/icons/{{icon}}_e.svg')"></div>
            <span>
            {{title}} <label>(</label>{{perDay}} <label>times per day)</label>
            <a href="/habit_editor/{{id}}">edit</a>

            <a href = "javascript:windowConfirmDel('{{id}}')">delete</a>
                </span>
        </dt>
    </dl>
    {{/habits}}
</script>

<a th:href="@{/new_habit_page}">Add new habit</a>
<br>
<br>
</div>
</body>
</html>