<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="fragments/libs :: libs"></div>
</head>

<body>
<div th:replace="fragments/header :: header">...</div>
<h1>New habit</h1>
<form action="#" th:action="@{/new_habit_page}" th:object="${habitDto}" method="post">
    <p>Title: <input type="text" required="required" th:field="*{title}" /></p>
    <p>Times per day: <input type="number" min="0" max="8" th:field="*{perDay}" /></p>
    <p>Start date: <input type="date" name = "start" th:value="${localDate}" /></p>
    <p>Choose icon:</p>

        <div class="box">
            <label class="custom-radio-button__container">
                <input type="radio" name="icon" value="apple" required checked>
                <span class="custom-radio-button">
                    <img src="/static/icons/apple_e.svg" width="60">
                </span>
            </label>

            <label class="custom-radio-button__container">
                <input type="radio" name="icon" value="eggplant">
                <span class="custom-radio-button">
                        <img src="/static/icons/eggplant_e.svg" width="60">
                </span>
            </label>

            <label class="custom-radio-button__container">
                <input type="radio" name="icon" value="beans">
                <span class="custom-radio-button">
                        <img src="/static/icons/beans_e.svg" width="60">
                </span>
            </label>

            <label class="custom-radio-button__container">
                <input type="radio" name="icon" value="oil">
                <span class="custom-radio-button">
                        <img src="/static/icons/oil_e.svg" width="60">
                </span>
            </label>

            <label class="custom-radio-button__container">
                <input type="radio" name="icon" value="grain">
                <span class="custom-radio-button">
                        <img src="/static/icons/grain_e.svg" width="60">
                </span>
            </label>
        </div>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>