<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="fragments/libs :: libs"></div>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<h1>New habit</h1>
<form action="#" th:action="@{/new_habit_page}" th:object="${habitDto}" method="post">
    <p>Title: <input type="text" required="required" th:field="*{title}" /></p>
    <p>Times per day: <input type="number" min="0" max="8" th:field="*{perDay}" /></p>
    <p>Start date: <input type="date" name = "start" th:value="${localDate}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>