<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="fragments/libs :: libs"></div>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style id="jsStyle"></style>
</head>

<body>
<div th:replace="fragments/header :: header">...</div>

<p id="itemsP"></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<script>

    function renderItems() {
        let httpRequest = new XMLHttpRequest();

        httpRequest.onreadystatechange = function () {
            let data = JSON.parse(httpRequest.responseText);

            let sheet = document.getElementById("jsStyle").sheet;
            for (let i = 0; i < data.length; i++) {
                sheet.insertRule(".icon-" + data[i][0].icon + ".enabled" +
                    "{ background-image: url(\'/static/icons/" + data[i][0].icon + "_e.svg\') }");
                sheet.insertRule(".icon-" + data[i][0].icon +
                    "{ background-image: url(\'/static/icons/" + data[i][0].icon + ".svg\') }");
            }
            let template = document.getElementById("items").innerHTML;
            let compiledTemplate = Handlebars.compile(template);
            let text = compiledTemplate({"items": data});
            document.getElementById("itemsP").innerHTML = text;

        };
        httpRequest.open('GET', '/get_today_items');
        httpRequest.send();

    }

    function updateItems() {
        let httpRequest = new XMLHttpRequest();

        httpRequest.onreadystatechange = function () {
            let data = JSON.parse(httpRequest.responseText);

            for (let i = 0; i < data.length; i++) {
                for (let j = 0; j < data[i].length; j++) {
                    let item = document.getElementById(data[i][j].habit_id + "_" + j);
                    let enabled = item.classList.contains("enabled");
                    if (data[i][j].checked != enabled) {
                        let elem = document.getElementById(data[i][j].habit_id + "_" + j);
                        if (data[i][j].checked) {
                            elem.classList.add("enabled");
                        } else {
                            elem.classList.remove("enabled");
                        }
                    }
                }
            }
        }
        httpRequest.open('GET', '/get_today_items');
        httpRequest.send();
    }

    function tick(target) {
        tickItem(target.dataset.habit_id, target.dataset.sort, !target.classList.contains("enabled"), updateItems);
    }

    function tickItem(habitId, sort, ticked, done) {
        let token = getCsrf();

        let httpRequest = new XMLHttpRequest();

        httpRequest.onreadystatechange = function () {
            done();
        }

        let formData = new FormData();

        formData.append("_csrf", token);
        formData.append("habit_id", habitId);
        formData.append("sort", sort);
        formData.append("ticked", ticked);

        httpRequest.open('POST', "/tick");
        httpRequest.send(formData);
    }

    document.addEventListener('DOMContentLoaded', function (event) {
        renderItems();
    })

</script>

<script id="items" type="text/template">
    <dl>
        {{#each items}}
        <dt>
            {{#each this}}
            {{#if checked}}
            <div class="icon icon-{{icon}} enabled"
                 onclick="tick(this)"
                 id="{{habit_id}}_{{sort}}"
                 data-habit_id="{{habit_id}}" data-sort="{{sort}}"></div>
            {{else}}
            <div class="icon icon-{{icon}}"
                 onclick="tick(this)"
                 id="{{habit_id}}_{{sort}}"
                 data-habit_id="{{habit_id}}" data-sort="{{sort}}"></div>
            {{/if}}
            {{/each}}
        </dt>
        {{/each}}
    </dl>

</script>

</body>
</html>