<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="fragments/libs :: libs"></div>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style id="jsStyle"></style>
</head>

<body>
<div th:replace="fragments/header :: header">...</div>

<p id="dPS"></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<script>

    function renderItems() {
        $.getJSON('/get_today_items', function (data) {
            let sheet = document.getElementById("jsStyle").sheet;
            for (let i = 0; i < data.length; i++) {
                sheet.insertRule(".icon-" + data[i][0].icon + ".enabled" +
                        "{ background-image: url(\'/static/icons/" + data[i][0].icon + "_e.svg\') }");
                sheet.insertRule(".icon-" + data[i][0].icon +
                    "{ background-image: url(\'/static/icons/" + data[i][0].icon + ".svg\') }");
            }
            let template = document.getElementById("items").innerHTML;
            let compiledTemplate = Handlebars.compile(template);
            let text = compiledTemplate({"items": data});
            document.getElementById("dPS").innerHTML = text;
        });
    }

    function updateItems() {
        $.getJSON('/get_today_items', function (data) {
            for (let i = 0; i < data.length; i++) {
                for (let j = 0; j < data[i].length; j++) {
                    let item = $("#" + data[i][j].habit_id + "_" + j);
                    let enabled = item.hasClass("enabled");
                    if (data[i][j].checked != enabled) {
                        if (data[i][j].checked) {
                            $("#" + data[i][j].habit_id + "_" + j).addClass("enabled");
                        } else {
                            $("#" + data[i][j].habit_id + "_" + j).removeClass("enabled");
                        }
                    }
                }
            }
        });
    }

    function tick(target) {
        let jTarget = $(target);
        tickItem(jTarget.data("habit_id"), jTarget.data("sort"), !jTarget.hasClass("enabled"), updateItems);
    }

    function tickItem(habit_id, sort, ticked, done) {
        let url = "/tick";
        let token = $("meta[name='_csrf']").attr("content");
        $.post(url, {_csrf: token, "habit_id": habit_id, "sort": sort, "ticked": ticked}).done(done);
    }

    $(function () {
        renderItems();
    });

</script>

<script id="items" type="text/template">
    <dl>
        {{#each items}}
        <dt>
            {{#each this}}
            {{#if checked}}
            <div class="icon icon-{{icon}} enabled"
                 onclick="tick(this)"
                 id="{{habit_id}}_{{sort}}"
                 data-habit_id="{{habit_id}}" data-sort="{{sort}}"></div>
            {{else}}
            <div class="icon icon-{{icon}}"
                 onclick="tick(this)"
                 id="{{habit_id}}_{{sort}}"
                 data-habit_id="{{habit_id}}" data-sort="{{sort}}"></div>
            {{/if}}
            {{/each}}
        </dt>
        {{/each}}
    </dl>

</script>

</body>
</html>