body {
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 20px;
}

span, label {
    font-weight: normal;
}

div.icon {
    width: 80px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 70px;
    display: inline-block;
    vertical-align: middle;
}

div.snail.enabled {
    background-image: url("/static/icons/snail_e.jpg");
}

div.snail.disabled {
    background-image: url("/static/icons/snail.jpg");
}

div.goose.enabled {
    background-image: url("/static/icons/goose_e.png");
}

div.goose.disabled {
    background-image: url("/static/icons/goose.png");
}

.btn-link-signout {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #337ab7;
    font-family: inherit;
    font-size: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-link-signout:hover {
    text-decoration: none;
    background-color: #eee;
    color: #23527c;
}

.nav-item:hover {
    text-decoration: none;
    color: #23527c;
    background-color: inherit !important;
}

.box {
    width: 100%;
    max-width: 360px;
    padding: 15px;
}

.custom-radio-button__container input[type="radio"] {
    display: none;
}

.custom-radio-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 10px 15px;
    border: 2px solid #979797;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.custom-radio-button__container input[type="radio"]:checked + .custom-radio-button {
    border: 2px solid #419de9;
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, .5);
}